<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
	<Product Id="*" Name="Lifeguard Accountability" Language="1033" Version="1.0.6.0" Manufacturer="Pixel Heavy Industries" UpgradeCode="7a6da711-b3f9-43d5-83ca-080219a45140">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
	  <WixVariable Id="WixUILicenseRtf" Value="eula.rtf" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
    
    <Property Id="ASSISTANCE_START_VIA_REGISTRY">1</Property>
    <Property Id="MSIUSEREALADMINDETECTION" Value="1" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Please restart your computer.  Lifeguard wil start and allow you to login after rebooting." />
    <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
    <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
    <Property Id="WixUI_Mode" Value="Custom" />

    
		<Feature Id="ProductFeature" Title="Lifeguard Accountability" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
  
    <UI Id="UserInterface">

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />


      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="EndDialog" Value="Return" Order="3">LicenseAccepted = "1"</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" Order="2"></Publish>

    </UI>
    <UIRef Id="WixUI_Common" />  
  
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="LifeguardAccountability" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ForegroundComponent">
        <File Source="$(var.Lifeguard.TargetPath)" />
      </Component>
      <Component Id="ForegroundAppConfig">
        <File Source="$(var.Lifeguard.TargetDir)service.exe.config" />
      </Component>
      <Component Id="RestarterComponent">
        <File Source="$(var.LifeguardRestarter.TargetPath)" />
      </Component>
      <Component Id="Log4Net">
        <File Source="$(var.Lifeguard.TargetDir)log4net.dll" />
      </Component>
      <Component Id="Json">
        <File Source="$(var.Lifeguard.TargetDir)Newtonsoft.Json.dll" />
      </Component>
      <Component>
        <RegistryValue Id="MerAs.rst" Root="HKMU" Action="write"
                      Key="Software\Microsoft\Windows\CurrentVersion\Run"
                      Name="LifeguardAccountability"
                      Value="[INSTALLFOLDER]service.exe"
                      Type="string" />        
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
